In [1]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
import seaborn as sns

### Read 3 Datasets

In [2]:
ds1radiotemp = pd.read_csv("../../dataset_1_radioTemperatures_20210303.csv",sep=';',dtype={'id_audit':np.str})

In [3]:
ds1radiotemp.head()

   id_field_values  id_ftp id_audit  value unit        field
0            41310     108      147   23.5    C  TSensor_D4_
1            41311     108      147   23.8    C  TSensor_D5_
2            41312     108      147   26.3    C  TSensor_D6_
3            41313     108      147   23.5    C  TSensor_D8_
4            41314     108      147   23.0    C  TSensor_D9_

In [11]:
ds1radiotemp.pivot_table(index=['id_audit'], columns=['field'],values=['value'])

               value                                                      \
field    TSensor_C1_ TSensor_D10_ TSensor_D11_ TSensor_D12_ TSensor_D13_
id_audit
1000033          NaN         25.3          NaN          NaN          NaN
1000034          NaN         31.5          NaN          NaN          NaN
1000035          NaN         29.0          NaN          NaN          NaN
1000044          NaN         57.3          NaN          NaN          NaN
1000047          NaN         38.0          NaN          NaN          NaN
...              ...          ...          ...          ...          ...
999945           NaN         32.3          NaN          NaN          NaN
999946           NaN         38.3          NaN          NaN          NaN
999947           NaN         35.3          NaN          NaN          NaN
999971           NaN         42.8          NaN          NaN          NaN
999972           NaN         37.3          NaN          NaN          NaN

                                                                           \
field    TSensor_D14_ TSensor_D15_ TSensor_D16_ TSensor_D17_ TSensor_D18_
id_audit
1000033           NaN          NaN          NaN          NaN         38.5
1000034           NaN          NaN          NaN          NaN         35.1
1000035           NaN          NaN          NaN          NaN         43.3
1000044           NaN          NaN          NaN          NaN         74.9
1000047           NaN          NaN          NaN          NaN         49.2
...               ...          ...          ...          ...          ...
999945            NaN          NaN          NaN          NaN         41.9
999946            NaN          NaN          NaN          NaN         45.8
999947            NaN          NaN          NaN          NaN         44.3
999971            NaN          NaN          NaN          NaN         43.3
999972            NaN          NaN          NaN          NaN         44.8

          ...                                                      \
field     ... TSensor_T65_ TSensor_T66_ TSensor_T67_ TSensor_T68_
id_audit  ...
1000033   ...         36.0         39.0         38.5         33.0
1000034   ...         25.5         26.5         26.5         24.0
1000035   ...         37.0         43.5         45.5         42.0
1000044   ...         74.0         78.0         77.0         72.0
1000047   ...         48.1         50.5         48.8         44.4
...       ...          ...          ...          ...          ...
999945    ...         37.9         39.4         39.0         35.8
999946    ...         40.5         42.3         41.3         37.6
999947    ...         37.9         39.1         38.8         36.3
999971    ...         36.1         40.1         41.5         40.1
999972    ...         45.5         46.5         45.5         40.5

                                                                           \
field    TSensor_T69_ TSensor_T70_ TSensor_T71_ TSensor_T72_ TSensor_W73_
id_audit
1000033          21.0         22.0         22.0         22.0          NaN
1000034          34.0         35.0         36.5         33.0          NaN
1000035          24.0         24.0         25.0         25.0          NaN
1000044          64.5         63.0         58.0         54.0          NaN
1000047          39.4         41.3         41.8         40.1          NaN
...               ...          ...          ...          ...          ...
999945           32.4         33.3         32.6         31.9          NaN
999946           38.6         40.4         39.8         38.1          NaN
999947           34.4         36.3         35.8         35.0          NaN
999971           42.3         45.1         45.8         43.9          NaN
999972           41.0         41.0         41.5         39.5          NaN


field    TSensor_W74_
id_audit
1000033           NaN
1000034           NaN
1000035           NaN
1000044           NaN
1000047           NaN
...               ...
999945            NaN
999946            NaN
999947            NaN
999971            NaN
999972            NaN

[67455 rows x 71 columns]

In [9]:
ds1radiotemp[ds1radiotemp.field=='TSensor_P24_']

         id_field_values   id_ftp id_audit  value unit         field
9                  41319      108      147   22.5    C  TSensor_P24_
57                169638      622      746   46.5    C  TSensor_P24_
105             77242091   256576   599167   25.6    C  TSensor_P24_
153               222045      648      945   31.5    C  TSensor_P24_
201               479187     1653     2199   49.5    C  TSensor_P24_
...                  ...      ...      ...    ...  ...           ...
3238028        336139625  2518980  1970425   54.0    C  TSensor_P24_
3238076        336140660  2518983  1970426   96.5    C  TSensor_P24_
3238124        336142806  2518983  1970427   80.8    C  TSensor_P24_
3238172        336146198  2519050  1970491   99.9    C  TSensor_P24_
3238220        336147976  2519047  1970516   94.1    C  TSensor_P24_

[67440 rows x 6 columns]

In [10]:
ds1radiotemp[ds1radiotemp.field=='TSensor_P31_']

         id_field_values   id_ftp id_audit  value unit         field
16                 41326      108      147   22.0    C  TSensor_P31_
64                169645      622      746   45.0    C  TSensor_P31_
112             77242098   256576   599167   27.6    C  TSensor_P31_
160               222052      648      945   30.0    C  TSensor_P31_
208               479194     1653     2199   49.0    C  TSensor_P31_
...                  ...      ...      ...    ...  ...           ...
3238035        336139632  2518980  1970425   54.0    C  TSensor_P31_
3238083        336140667  2518983  1970426  100.5    C  TSensor_P31_
3238131        336142813  2518983  1970427   84.1    C  TSensor_P31_
3238179        336146205  2519050  1970491  102.3    C  TSensor_P31_
3238227        336147983  2519047  1970516   97.1    C  TSensor_P31_

[67455 rows x 6 columns]

In [4]:
ds2powerclass = pd.read_csv("../../dataset_2_powerClass_20210303.csv", sep=";", dtype={'id_audit':np.str})

In [5]:
ds2powerclass.head()

   id_trx_status id_audit branch_header       field            value
0           2917       21      Branch A  powerClass  20W [43.00 dBm]
1           3008       21      Branch B  powerClass  20W [43.00 dBm]
2           3099       21      Branch C  powerClass  20W [43.00 dBm]
3           3190       21      Branch D  powerClass  20W [43.00 dBm]
4           3286       21      Branch E  powerClass  40W [46.15 dBm]

In [6]:
ds2powerclass.sort_values(['id_audit','branch_header']).head(10)

       id_trx_status id_audit branch_header       field            value
84905      156077628  1000018      Branch A  powerClass  40W [44.80 dBm]
84906      156077727  1000018      Branch B  powerClass  40W [44.80 dBm]
84907      156077826  1000018      Branch C  powerClass  40W [44.80 dBm]
84908      156077925  1000018      Branch D  powerClass  40W [44.80 dBm]
84909      156078041  1000018      Branch E  powerClass  60W [47.80 dBm]
84910      156078140  1000018      Branch F  powerClass  60W [47.80 dBm]
84911      156078240  1000018      Branch G  powerClass  60W [47.80 dBm]
84912      156078351  1000018      Branch H  powerClass  60W [47.80 dBm]
87177      156080912  1000033      Branch A  powerClass  40W [46.00 dBm]
87178      156081014  1000033      Branch B  powerClass  40W [46.00 dBm]

In [7]:
ds3radioid = pd.read_csv("../../dataset_3_radioId_20210303.csv",sep=";", dtype={'id_audit':np.str})

In [8]:
ds3radioid.head()

  id_audit  customer  serial
0       21         2   15551
1       23         2   15403
2       25         2   16084
3      147         2   17087
4      746         2   15486

### Check if exists any empty records in radio Temp dataset
* Here we found 641 records without temperatures, among total 3238259
* Sounds mostly due to "Error: Command unsupported"
* TSensor_N22_ is not working at all. Total: 638, Breakdown: 638 
* At this stage, we just remove those records

In [ ]:
ds1radiotemp.info(verbose=True,null_counts=True)

In [ ]:
ds1radiotemp.isnull().sum()

In [ ]:
ds1radiotemp[ds1radiotemp.value.isnull()].groupby('unit').count()

In [ ]:
ds1radiotemp[ds1radiotemp.value.isnull()].groupby('field').count()

In [ ]:
ds1radiotemp[ds1radiotemp.field=='TSensor_N22_']['field'].count()

In [ ]:
ds1radiotemp.dropna(inplace=True)

In [ ]:
ds1radiotemp.info(verbose=True,null_counts=True)

### Check if exists any empty records in powerclass dataset
* no missing data

In [ ]:
ds2powerclass.info(verbose=True,null_counts=True)

### Check if exists any empty records in radioId dataset
* no missing data

In [ ]:
ds3radioid.info(verbose=True,null_counts=True)

### Find out basic data structure
* Total Audit, 67455
    * **each audit contains 48 records** 
    * But data is not full clean. 67455 * 48 = 3237840 (a slight bigger than cleaned data 3237618), less than 3238259 
    * Indicates some audit does not contains 48 records, maybe because of less branches, or because of less sensors
* Total Sensor 71
* Total Serial 27781 
    * *Not sure how Serial is associated to the type of Sensor.* 
    * *Not sure if all sensors of the same type is the same hardware/firmware or different serials incidates different hardware/firmware*
    * *It sounds* **one audit connects one Serials** but ppt said several audit could share the same serials.
    * This field sounds not useable, since it cannot connect to set of sensor clearly, even this might tell the firmware version, and impact temperature
* Total Branch 8
    * *It sounds* **each audit contains 8 branches, therefore, 6 sensors per branch**
* Total PowerClass 366812
    * **each branch contains a powerclass setup** This indicates 6 sensors share the same powerclass setup
    * **Not all audit has powerclass setup** 45854 < 67455 This indicates data is not clean. might remove those dirty audits or use some "default" value
    * **not all branches have powerclass setup (E,F,G,H braches)** This could be because no sensor is installed for E/F/G/H, or not have powerclass setup value. Need further check
    * *Not sure how to link powerclass to a particular set of sensors, among 48 sensors per audit* 
    * We might have to restore powwerclass-sensor relationship from data
* Total 2 customers
    * *Not sure different customers could have different usage/setup, so that temperatures will be highly different* This can be found out by joining the ds1 and ds3.

In [ ]:
ds1radiotemp['id_audit'].nunique()

In [ ]:
67455 * 48

In [ ]:
ds1radiotemp['field'].nunique()

In [ ]:
ds3radioid.serial.nunique()

In [ ]:
readingPerAuditDf = ds1radiotemp[['id_audit','value']].groupby('id_audit').count().reset_index().sort_values('value')

In [ ]:
readingPerAuditDf.describe()

In [ ]:
readingPerAuditDf.groupby('value').count()

In [ ]:
readingPerAuditDf[readingPerAuditDf.value==24]

In [ ]:
ds2powerclass[ds2powerclass.id_audit=='898299']

In [ ]:
ds2powerclass['branch_header'].value_counts()

In [ ]:
ds2powerclass['id_audit'].nunique()

In [ ]:
ds3radioid['id_audit'].nunique()

In [ ]:
ds3radioid.customer.nunique()

### Check temperature distribution
* Some sensors report negative values, this sounds not reasonable. But this might indicate weather temperature could impact record .For example, maybe sensor operates outside, in cold weather. 
* However, we dont have weather temperature. (*same physical location shall have similar weather temperature. If we can get location information from data, it will be good feature for modelling*)
* From quantile, most negative gathers between -1.8 and -9.1, further negative -20 sounds abnormal.
* Data is postive skew. Some extreme postive value exists
* For postive temperatures, quite large range exists, maybe because different type of hardware, sensor, powerclass. need more study

In [ ]:
ds1radiotemp.describe()

In [ ]:
Q1 = ds1radiotemp['value'].quantile(0.25)
Q3 = ds1radiotemp['value'].quantile(0.75)
IQR = Q3 - Q1
Q1out = Q1 - 1.5 * IQR
Q3out = Q3 + 1.5 * IQR
print("25% Quantile: ", Q1, "##75% Quantile: ", Q3, "##IQR: ", IQR, "##Q1 outlier: ", Q1out, "##Q3 outlier:", Q3out)

In [ ]:
ds1radiotemp['value'].skew()

In [ ]:
ds1radiotemp_neg = ds1radiotemp[ds1radiotemp['value'] < 0]

In [ ]:
ds1radiotemp_neg.describe()

In [ ]:
Q1 = ds1radiotemp_neg['value'].quantile(0.25)
Q3 = ds1radiotemp_neg['value'].quantile(0.75)
IQR = Q3 - Q1
Q1out = Q1 - 1.5 * IQR
print("25% Quantile: ", Q1, "##75% Quantile: ", Q3, "##IQR: ", IQR, "##Q1 outlier: ", Q1out)

In [ ]:
#mybins = pd.qcut(ds1radiotemp['value'], q=4, labels = ['lower','low','high','higher'])
cut_bins = [float("-inf"), -30, -20, -10, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100,float("inf")]
mybins = pd.cut(ds1radiotemp['value'], bins=cut_bins)

In [ ]:
mybins.value_counts().sort_index()

In [ ]:
ds1radiotemp['bin'] = mybins

In [ ]:
fig, ax = plt.subplots(figsize=(12,8)) 
df2 = ds1radiotemp.groupby('bin').count()
df2['value'].plot(kind='bar', ax=ax)

### Check temperature distribution per audit
* Sounds different audit has large different range. Need found out the reason

In [ ]:
ds1radiotemp.id_audit.unique()

In [ ]:
ds1radiotemp[(ds1radiotemp.id_audit == '147') | (ds1radiotemp.id_audit == '746')
             | (ds1radiotemp.id_audit == '599167')
             | (ds1radiotemp.id_audit == '1970427')
             | (ds1radiotemp.id_audit == '1970491')
             | (ds1radiotemp.id_audit == '1970516')].boxplot(column='value', by='id_audit')

### Check temperature distribution per sensor
* **It indicates 2 differnt temperature segments.** 
* This might explain S1/S2 connets to power amplifier, S3-S9 connects to ohter HW on the radio
* Need find out which sensors are S1/S2, which are S3-S9, or just clustering into 2 groups sounds OK
* When clustering, a little bit concern about outliers might influence, so that sensores are classified into different group.

In [ ]:
pd.set_option('display.max_rows', 500)

In [ ]:
my_orderData = ds1radiotemp.groupby(by=["field"])["value"].median().sort_values(ascending=False)
my_orderData

In [ ]:
ds1radiotemp[['field','value']].groupby('field').median().sort_values(ascending=False, by='value').hist()

In [ ]:
my_order = my_orderData.index

In [ ]:
fig, ax = plt.subplots(figsize=(80,8)) 
ax.set(ylim=(-10, 200))
sns.boxplot(x='field', y='value', data=ds1radiotemp, ax=ax, order=my_order)

In [ ]:
ds1radiotemp.head()

In [ ]:
sortedSensor = ds1radiotemp['field'].value_counts().index

In [ ]:
import matplotlib.ticker as ticker
fig, ax = plt.subplots(figsize=(10,60)) 
ax = plt.axes(xscale='log', yscale='log')
ax.grid();
g=sns.boxplot(x='value', y='field', width=.6, palette="vlag", data=ds1radiotemp, order=sortedSensor)
#sns.stripplot(x="value", y="field", data=ds1radiotemp,
#              size=4, color=".3", linewidth=0)
#g.set_xscale("log")
plt.title("Sensor Record distribution")
#ax.xaxis.set_major_locator(ticker.MultipleLocator(0.5))
#ax.xaxis.set_major_formatter(ticker.ScalarFormatter())
ax.grid()
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(80,8)) 
g= sns.countplot(x='field',data=ds1radiotemp, ax=ax, order = ds1radiotemp['field'].value_counts().index)
g.set_yscale("log")
plt.title("Sensor Record Counts")
plt.show()

In [ ]:
sensorCountdf = ds1radiotemp[['field', 'value']].groupby('field').count().reset_index().sort_values(['value'], ascending=False)

In [ ]:
sensorCountdf['logcount'] = np.log10(sensorCountdf.value)

In [ ]:
fig, ax = plt.subplots(figsize=(80,8)) 
sns.barplot(y='logcount',x='field',data=sensorCountdf, ax=ax)

### Check temperature distribution per customer
* 2 customers similar distribution, although the 2nd customer more variance

In [ ]:
ds13join = ds1radiotemp.merge(ds3radioid,sort=False)

In [ ]:
ds13join.head()

In [ ]:
fig, ax = plt.subplots(figsize=(20,8)) 
ax.set(ylim=(-10, 200))
sns.boxplot(x='customer', y='value', data=ds13join, ax=ax)